.Column-container {
    width: 70px;
    height: 420px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.Column-holeContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 2;
}

.Column-holeContainer:not(:last-of-type) {
    border-bottom: dotted 1px #e7e4e4;
}

.Column-holeContainer.one {
    background-color: #6969c5;
}

.Column-holeContainer.two {
    background-color: #b76666;
}